/******************************************************************************\

                      Copyright 2017-2021. foldingathome.org
                    Copyright 2001-2017. Stanford University.
                               All Rights Reserved.

                  For information regarding this software email:
                                 Joseph Coffland
                          joseph@cauldrondevelopment.com

\******************************************************************************/

error-style()
  color #fff
  background-color #dd0000

warn-style()
  color black
  background-color yellow

.error
  color red

.active, .accepted, .connected
  background-color green
