//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-                This file is part of FoldingAtHome/fah-node                //
//-                                                                           //
//-     The fah-node enables secure remote access to Folding@home clients.    //
//-                 Copyright (c) 2023-2026, foldingathome.org                //
//-                            All rights reserved.                           //
//-                                                                           //
//-    This program is free software; you can redistribute it and/or modify   //
//-    it under the terms of the GNU General Public License as published by   //
//-     the Free Software Foundation; either version 3 of the License, or     //
//-                    (at your option) any later version.                    //
//-                                                                           //
//-      This program is distributed in the hope that it will be useful,      //
//-       but WITHOUT ANY WARRANTY; without even the implied warranty of      //
//-       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       //
//-                GNU General Public License for more details.               //
//-                                                                           //
//-  You should have received a copy of the GNU General Public License along  //
//-  with this program; if not, write to the Free Software Foundation, Inc.,  //
//-        51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.        //
//-                                                                           //
//-               For information regarding this software email:              //
//-                              Joseph Coffland                              //
//-                       joseph@cauldrondevelopment.com                      //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

doctype html
html(lang='en')
  head
    title Login - Folding@home Node Server
    link(rel='icon', href='/favicon.ico')
    meta(charset='utf-8')

    // http://youtube.com/watch?v=5NNOrp_83RU

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

    script.
      $(() => {
        $('#logout').click(e => {
          $.get('/api/logout').always(() => location.assign('/'))
        })

        let user = decodeURIComponent(location.search.substr(1))
        if (user) $('<h2>').text('Welcome ' + user).prependTo('body')
     })

  body
    p.
      You are currently logged in but your account does not have access to this
      server.

    button#logout Logout
